<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anzhi.solidwaste.enterprise.mapper.MonitorSystemMapper">

    <resultMap id="monitorData" type="com.anzhi.solidwaste.enterprise.vo.MonitorRealTimeVo">
        <result column="enterpriseName" jdbcType="VARCHAR" property="enterpriseName" />
        <result column="industryCategory" jdbcType="VARCHAR" property="industryCategory" />
        <collection property="monitorSystemVoList" ofType="com.anzhi.solidwaste.enterprise.vo.MonitorSystemVo">
                    <result column="ammonia" property="ammonia"/>
                    <result column="depotId" property="depotId"/>
                    <result column="fanStatus" property="fanStatus"/>
                    <result column="governingStatus" property="governingStatus"/>
                    <result column="hydrogenSulfide" property="hydrogenSulfide"/>
                    <result column="oxygen" property="oxygen"/>
        </collection>

    </resultMap>

    <select id="findAllByCondition" resultMap="monitorData">
        select
                e.`name` as enterpriseName,
                e.`industry_category` as industryCategory,
                ms.`depot_id` as depotId,
                ms.`fan_status` as fanStatus,
                ms.`governing_status` as governingStatus,
                ms.`hydrogen_sulfide` as hydrogenSulfide,
                ms.`ammonia` as ammonia,
                ms.`oxygen` as oxygen
        from monitor_system as ms
        left join depot as d on (ms.`depot_id` = d.`depot_id`)
        left join enterprise as e on (d.`enterprise_name` = e.`name`)
        <where>
            <if test="monitorSearch.depotName != null and monitorSearch.depotName != ''">
                d.`depot_id` = #{monitorSearch.depotName}
            </if>
            <if test="monitorSearch.enterpriseName != null and monitorSearch.enterpriseName != ''">
                e.`name` = #{ monitorSearch.enterpriseName }
        </if>
        </where>
    </select>

    <select id="findIndecVo" resultType="com.anzhi.solidwaste.enterprise.vo.IndexVo">

    </select>

    <sql id="areaSearch">

        left join area a on (s.`area_id` = a.`id`)
        <where>
            <if test="street != null and street != ''">
                s.`name` = #{street}
            </if>
            <if test="area != null and area != ''">
                a.`name` = #{area}
            </if>
        </where>
    </sql>

    <select id="getEnterpriseCount" resultType="java.lang.Integer">
        select count(*) from enterprise
        left join street s on (enterprise.`street` = s.`id`)
        <include refid="areaSearch"></include>
    </select>

    <select id="getDepotCount" resultType="java.lang.Integer">
        select count(*) from depot
        left join street s on (depot.`street` = s.`id`)
        <include refid="areaSearch"></include>
    </select>




    <select id="getAllEnterpriseByArea" resultType="com.anzhi.solidwaste.enterprise.vo.EnterpriseVo">
        select
                e.`name`               as enterpriseName,
                e.`registered_address` as address,
                sum(hw.`exist_amount`) as wasteStock
        from enterprise as e
        left join depot      as d on (d.`enterprise_name` = e.`name`)
        left join hazardous_waste as hw on (hw.`depot_id` = d.`depot_id`)
        left join street     as s on (e.`street` = s.`id`)
        <include refid="areaSearch"></include>
        group by e.`name`, e.`registered_address`
    </select>

    <select id="getWasteCount" resultType="java.lang.String">
        select distinct hw.`waste_category`
        from hazardous_waste as hw
        left join depot as d on(hw.`depot_id` = d.`depot_id`)
        left join enterprise e on (d.`enterprise_name` = e.`name`)
        left join street s on (e.`street` = s.`id`)
        <include refid="areaSearch"></include>
    </select>

    <select id="getWasteAmount" resultType="java.lang.Integer">
        select IFNULL(sum(hw.`exist_amount`),0)
        from hazardous_waste as hw
        left join depot as d on(hw.`depot_id` = d.`depot_id`)
        left join enterprise e on (d.`enterprise_name` = e.`name`)
        left join street s on (e.`street` = s.`id`)
        <include refid="areaSearch"></include>
    </select>


</mapper>
